.drag-window {
	width: 400px;
	position: fixed;
	top: 100px;
	left: 200px;
	z-index: 12;
	border: 2px solid #9be;
	border-radius: 5px;
}
.drag-head{
	height: 30px;
	line-height: 28px;
	padding: 0 10px;
	overflow: hidden;
	background-color: #9be;
	color: #fff;
	cursor: context-menu;
}

.drag-body {
	height: 300px;
	padding: 10px;
	background: #fff;
}